.logo {
  transition: filter 300ms;
  cursor: pointer;
  animation: spin 5s linear infinite;

}

.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.bright {
  transition: filter 300ms;
}

.bright:hover {
  filter: drop-shadow(0 0 2em #8dbef3);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.active {
  color: aqua;
}

.nav {
  transition: filter 300ms;
}

.nav.active:hover {
  color: aqua;
}

.nav:hover {
  scale: 1.3;
  transition: all ease-in-out 300ms;
  color: rgb(132, 211, 211);
}


.Typewriter {
  font-size: 3em;
  font-weight: 600;
  color: #7ce0fc;
  font-family: serif;
}

/* @media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em ;
    font-weight: 500 ;
    position: absolute ;
  }
  .Typewriter__cursor {
    display: none ;
  }
} */



/* .coin-container {
  text-align: center;
  margin-top: 50px;
}

.coin {
  font-size: 2em;
  font-weight: bold;
  border: 2px solid #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
} */

/* button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
} */



/* FlipCard.css */

.flip-card {
  perspective: 1000px;
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  left: 25px;
  top: 40px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
  animation: flipAnimation 1.2s ease-in-out;
}

@keyframes flipAnimation {
  0% {
    transform: rotateY(0);
  }

  50% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(180deg);
  }

}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #87eab5;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.Phone {
  position: relative;
  display: block;
  margin: 0;
  width: 0.4em;
  height: 0.4em;
  font-size: 20vmin;
  background-color: #3498db;
  border-radius: 0.5em;
  box-shadow:
    0 0 0 0em rgba(#3498db, 0),
    0em 0.05em 0.1em rgba(#d42929, 0.2);
  transform: translate3d(0, 0, 0) scale(1);
  cursor: pointer;
}

.Phone::before,
.Phone::after {
  position: absolute;
  content: "";
}

.Phone::before {
  top: 0;
  left: 0;
  width: 0.4em;
  height: 0.4em;
  background-color: rgba(#0c0c0c, 0.1);
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
  top: 0.1em;
  left: 0.1em;
  width: 0.2em;
  height: 0.2em;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 767px) {
  .Phone {
    width: 0.6em;
    height: 0.6em;
  }

  .Phone::after {
    width: 0.3em;
    height: 0.3em;
    top: 0.15em;
    left: 0.15em;

  }
}

.Phone.is-animating {
  animation: phone-outer 3000ms infinite;

  &::before {
    animation: phone-inner 3000ms infinite;
  }

  &::after {
    animation: phone-icon 3000ms infinite;
  }
}

@keyframes phone-outer {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0em rgba(#3498db, 0),
      0em 0.05em 0.1em rgba(#000000, 0.2);
  }

  33.3333% {
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow:
      0 0 0 0em rgba(#3498db, 0.1),
      0em 0.05em 0.1em rgba(#000000, 0.5);
  }

  66.6666% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0.5em rgba(#3498db, 0),
      0em 0.05em 0.1em rgba(#000000, 0.2);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
      0 0 0 0em rgba(#3498db, 0),
      0em 0.05em 0.1em rgba(#000000, 0.2);
  }
}

@keyframes phone-inner {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }

  33.3333% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.9);
  }

  66.6666% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
}

@keyframes phone-icon {
  0% {
    transform: translate3d(0em, 0, 0);
  }

  2% {
    transform: translate3d(0.01em, 0, 0);
  }

  4% {
    transform: translate3d(-0.01em, 0, 0);
  }

  6% {
    transform: translate3d(0.01em, 0, 0);
  }

  8% {
    transform: translate3d(-0.01em, 0, 0);
  }

  10% {
    transform: translate3d(0.01em, 0, 0);
  }

  12% {
    transform: translate3d(-0.01em, 0, 0);
  }

  14% {
    transform: translate3d(0.01em, 0, 0);
  }

  16% {
    transform: translate3d(-0.01em, 0, 0);
  }

  18% {
    transform: translate3d(0.01em, 0, 0);
  }

  20% {
    transform: translate3d(-0.01em, 0, 0);
  }

  22% {
    transform: translate3d(0.01em, 0, 0);
  }

  24% {
    transform: translate3d(-0.01em, 0, 0);
  }

  26% {
    transform: translate3d(0.01em, 0, 0);
  }

  28% {
    transform: translate3d(-0.01em, 0, 0);
  }

  30% {
    transform: translate3d(0.01em, 0, 0);
  }

  32% {
    transform: translate3d(-0.01em, 0, 0);
  }

  34% {
    transform: translate3d(0.01em, 0, 0);
  }

  36% {
    transform: translate3d(-0.01em, 0, 0);
  }

  38% {
    transform: translate3d(0.01em, 0, 0);
  }

  40% {
    transform: translate3d(-0.01em, 0, 0);
  }

  42% {
    transform: translate3d(0.01em, 0, 0);
  }

  44% {
    transform: translate3d(-0.01em, 0, 0);
  }

  46% {
    transform: translate3d(0em, 0, 0);
  }
}


.swipe-icon {
  width: 50px;
  height: auto;
  color: white;
  animation: swipefloating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes swipefloating {
  0% {
    transform: translateX(-20px) rotate(0deg);
  }

  50% {
    transform: translateX(20px) rotate(40deg);
  }

  100% {
    transform: translateX(-20px) rotate(0deg);
  }
}


.project-line {
  display:block;
  border-bottom:2px solid wheat;
  width:0%;
  text-align:center;
  animation: line 2s linear forwards;
}

@keyframes line {
  from {
    left: 50%;
    width: 0%;
  }

  to {
    left: 25%;
    width: 50%;
  }
}


/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  z-index: 40;
}


/* Icon styles */
.icon {
  transition: transform 0.8s ease-in-out;
}

/* Large icon style */
.icon.large {
  font-size: 50px; /* Large size */
}

/* Small icon style */
.icon.small {
  font-size: 50px; /* Small size */
  position: fixed;
  top: -42px; /* Adjust as needed */
  left: 12px; /* Adjust as needed */
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  transition: 0.5s;
}


.small {
  position: absolute;
  left: -25px;
  top: -32px;
  z-index: 30;
}



/* From Uiverse.io by iconicchandu */ 
.card {
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 15%, 9%);
  --paragraph: hsl(0, 0%, 83%);
  --line: hsl(240, 9%, 17%);
  --primary: hsl(189, 92%, 58%);

  position: relative;
  display: flex;
  flex-direction: column;
  background-color: hsla(240, 15%, 9%, 1);
  background-image: radial-gradient(
      at 88% 40%,
      hsla(240, 15%, 9%, 1) 0px,
      transparent 85%
    ),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsl(189, 99%, 26%) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsl(189, 97%, 36%) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsl(188, 94%, 13%) 0px, transparent 85%);

  border-radius: 1rem;
  box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
}

.card .card__border  {
  overflow: hidden;
  pointer-events: none;

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: linear-gradient(
    0deg,
    hsl(0, 0%, 100%) -50%,
    hsl(0, 0%, 40%) 100%
  );

  border-radius: 1rem;
}

.card .card__border::before {
  content: "";
  pointer-events: none;
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%), rotate(0deg);
  transform-origin: left;

  width: 10%;
  height: 1rem;
  background-image: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 0%,
    hsl(189, 100%, 50%) 40%,
    hsl(189, 100%, 50%) 60%,
    hsla(0, 0%, 40%, 0) 100%
  );

  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.icon-insta {
  background-image: linear-gradient(
    0deg,
    hsl(48, 91%, 61%) -50%,
    hsl(330, 94%, 59%) 100%
  );
  
}
.icon-gmail {
  background-image: linear-gradient(
    90deg,
    hsl(247, 91%, 61%) 10%,
    hsl(0, 91%, 61%) 50%,
    hsl(129, 94%, 59%) 100%
  );

}




.text-slide{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
  margin: auto 0;  
}

.text-slide span{
  display: inline-block;
    padding-left: 100%;
    text-align: center;
   color: white;
   font-size: 20px;
    white-space: nowrap;
    min-width: 100%;
    animation: loop 10s linear infinite;
    font-weight: 500;
}

@keyframes loop {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}


.background-overplay {
position: fixed;
display: block;
inset: 0;
cursor: pointer;
display: block !important;
z-index: 0;
background: rgba(0, 0, 0, 0.5);
transition: opacity 0.3s;
scroll-behavior: none;
overflow:none;
}



.bg-side-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  height: 100%;
  opacity: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.35s ease-in-out;

}

.bg-side-menu.open {
  opacity: 1;
  display: block;
}

.mobile-nav {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 325px;
  z-index: 50;
  background-color: #333;
  overflow-y: scroll;
  inset: 0
}

.side-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  background-color: transparent;
}

.side-menu.open {
  transform: translateX(0);
}


input[type=text] {
  width: 100%;
  padding: 10px 14px;
  margin: 6px 0;
  border: 1px solid #161515;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  color: white;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}





