.logo {
  transition: filter 300ms;
  cursor: pointer;
  animation: spin 5s linear infinite;

}

.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.bright{
  transition: filter 300ms;
}
.bright:hover {
  filter: drop-shadow(0 0 2em #8dbef3);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.active {
  color: aqua;
}

.nav {
  transition: filter 300ms;
}

.nav.active:hover {
  color: aqua;
}

.nav:hover {
  scale: 1.3;
  transition: all ease-in-out 300ms;
  color: rgb(132, 211, 211);
}

/* .active-menu {
  color: red;
  background-color: #333;
  padding: 10px 10px 10px 10px;
  
} */


/* .navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
} */

/* .sticky {
  background-color: #99ee3fa9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgb(64, 41, 175) !important;
  backdrop-filter: blur(15px) !important;
} */


.Typewriter {
  font-size: 3em;
  font-weight: 600;
  color: #7ce0fc;
  font-family: serif;
}

/* @media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em ;
    font-weight: 500 ;
    position: absolute ;
  }
  .Typewriter__cursor {
    display: none ;
  }
} */



.coin-container {
  text-align: center;
  margin-top: 50px;
}

.coin {
  font-size: 2em;
  font-weight: bold;
  border: 2px solid #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

/* button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
} */



/* FlipCard.css */


.flip-card {
  perspective: 1000px;
  width: 250px;
  height: 250px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #87eab5;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}


